
body {
    border: 5px solid lightcoral;
    
}

.header {
    background-image: url('../../assets/images/pattern.jpeg');
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin: 10px;
    
}

.main {
    margin: 10px;
}
.content-title {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
   
}
.img-label {
    font-weight: bold;
}
#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.description {
    font-family: Helvetica;
    
}

.description-price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}